@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(97, 97, 97, 0.7);
    border-radius: 20px;
    min-height: 50px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: all 0.1s linear;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(97, 97, 97, 0.9);
  }
}

button {
  cursor: pointer;
}

.terminal-output {
  line-height: 1.5;
  font-weight: 600;
  font-size: 1.05em;
  font-family: monospace;
  height: 100%;
}

.terminal-black {
  color: #0c0c0c;
}

.terminal-red {
  color: #ff3131;
}

.terminal-green {
  color: #86c000;
}

.terminal-yellow {
  color: #ffb940;
}

.terminal-blue {
  color: #3a96dd;
}

.terminal-cyan {
  color: #00adf7;
}

.terminal-pink {
  color: #9750dd;
}

.terminal-white {
  color: #ececec;
}

.terminal-dark-gray {
  color: rgb(81, 81, 81);
}
